.vscode/settings.json
18 - Adding Up Times with Reduce/.DS_Store
19 - Webcam Fun/node_modules/*
package-lock.json
19 - Webcam Fun/package-lock.json
20 - Speech Detection/node_modules/*
20 - Speech Detection/.DS_Store
